In [2]:
import pandas as pd
#print(type(pd))
archivo = pd.read_csv("Ejercicios\\archivos\\datos.csv")
archivo

   nombre apellido  edad
0  nelson  quillay    37
1  m치ximo  quillay     7
2  melina  quiroga    35
3  치lvaro  quillay     4